body{
    margin: 30px;
    padding: 30px;
	background: url('fon.png') no-repeat center top 200px white;
    background-attachment: scroll; 
    background-size: 600px; 
    
}

div{
    background-color: rgb(253, 165, 0);
    font-size: 42px;
    height: 70;
    width: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
